extends layout

block content
  .jumbotron
    .container
      .row
        .col-md-7
          h1 #{title}
          p
            | Is your computer running slow? Please give us a call
          p
            a.btn.btn-primary.btn-lg(href='') Read More
        .col-md-5
          img(src='images/mouse.png')
  .row
    .col-md-4
      .well
        h2 Hardware Problems
        p
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    .col-md-4
      .well
        h2 Software Problems
        p
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    .col-md-4
      .well
        h2 PC Tune Up
        p
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.

